# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*\x64\Release\*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

MCPT/\.vs/MCPT/v15/

MCPT/x64/Release/

MCPT/MCPT/x64/Release/MCPT\.tlog/

MCPT/MCPT/x64/Release/

*.ppm
*.png
MCPT/MCPT/output2/

MCPT/MCPT/info\.txt

MCPT/MCPT/MCPT\.vcxproj

MCPT/MCPT/MCPT\.vcxproj\.filters

MCPT/MCPT/MCPT\.vcxproj\.user

*.mtl

*.mb

*.obj

*.pdf

*.pfm
